#!/bin/sh
# Import important environment vars
. ~/.environment

( # Set up screens
  # Proprietary driver version
  xrandr --output DP-0 --off --output DVI-I-0 --mode 1280x1024 --pos 0x0 --rotate normal --output DVI-D-0 --primary --mode 1920x1080 --pos 1280x210 --rotate normal --output HDMI-0 --off
  # Open driver version
  xrandr --output DP-1 --off --output DVI-I-1 --mode 1280x1024 --pos 0x0 --rotate normal --output DVI-D-1 --primary --mode 1920x1080 --pos 1280x210 --rotate normal --output HDMI-1 --off
) 2>/dev/null &

# Read in settings in Xresources
xrdb ~/.Xresources

# Turn on uim for Japanese input
export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
export XMODIFIERS='@im=uim'

# Run SSH agent
eval "$(ssh-agent)"

# Notification daemon
dunst &
# Auto-lock screen
xautolock -locker ~/bin/sensible-lock -time 15 &
# Random wallpapers on boot and every 10 mins
wallpaper-cycler &
# Compositing for transparency and forced vsync
compton --backend glx &
# Volume icon to make it easy to change volume using the keyboard or mouse
volumeicon &
# urxvtd because I use the terminal every minute of every day
urxvtd -q -o &
# Num lock!
numlockx &
( # Set up key map
  setxkbmap -option caps:none gb
  xmodmap -e 'keycode 66 = Zenkaku_Hankaku'
  xmodmap -e 'keycode 135 = Super_R Super_R Super_R Super_R'
) &
# Disable mouse acceleration
xinput set-prop 'Logitech USB-PS/2 Optical Mouse' 'Device Accel Profile' -1 &
xinput set-prop 'Logitech USB-PS/2 Optical Mouse' 'libinput Accel Profile Enabled' 0 1 &
# Set up sensible finger tapping options
xinput set-prop 'SynPS/2 Synaptics TouchPad' 'Synaptics Two-Finger Scrolling' 1 1 &
xinput set-prop 'SynPS/2 Synaptics TouchPad' 'Synaptics Tap Action' 0 0 0 0 1 2 3 &
# Enable palm detection
xinput set-prop 'SynPS/2 Synaptics TouchPad' 'Synaptics Palm Detection' 1 &
xinput set-prop 'SynPS/2 Synaptics TouchPad' 'Synaptics Palm Dimensions' 6 10 &
# Use TrackPoint wheel emulation (middle mouse + trackpoint drag)
xinput set-prop 'TPPS/2 IBM TrackPoint' 'Evdev Wheel Emulation' 1 &
xinput set-prop 'TPPS/2 IBM TrackPoint' 'Evdev Wheel Emulation Button' 2 &
xinput set-prop 'TPPS/2 IBM TrackPoint' 'Evdev Wheel Emulation Axes' 6 7 4 5 &
# Load i3 workspaces if applicable
~/.i3/scripts/when-i3-starts ~/.i3/scripts/load-workspaces &
# systemd requires DBUS, and DBUS requires XDG_RUNTIME_DIR.  Sometimes systemd
# fucks up (surprise surprise) and doesn't set XDG_RUNTIME_DIR.  In that case
# it's not worth getting invested in a logged-in session, and I should probably
# just log out.
[ -z "$XDG_RUNTIME_DIR" ] && pgrep systemd >/dev/null && zenity --error --text 'systemd is fucked up again.'
