[Desktop Entry]
Name=Sensible Browser
GenericName=Web Browser
Exec=sensible-browser %u
Terminal=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
StartupNotify=true
Categories=Network;WebBrowser;
